@charset "UTF-8";
/* CSS Document */
body {
	border: 0 none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-align: center;
	box-sizing: border-box;
	line-height: 1.4;
	background-color: #fff;
	color: #333136;
}

img {
	width: 100%;
	max-width: 620px;
}

section {
	height: 100vh;
}

section div {
	margin: 0 auto;
	width: 60%;
	padding: 60px;
}

h1 {
	font-size: 6em;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1em;
    margin: 2%;
}
h2 {
	font-size: 5em;
	font-weight: 600;
	line-height: 1em;
	color: #ED4938;
	margin: 10%;
}

#AnJ {
	background-image: url("https://github.com/pootychop/wedding/blob/gh-pages/img/skaters.jpg?raw=true");
	background-repeat: no-repeat;
	background-position: right;
	background-color: #2C2C32;
	color: #fff;
}

#party {
	background-color: #EFC239;
}

@media screen and (max-width: 640px) {
	h1 {
		font-size: 4em;
	}
	h2 {
		font-size: 2em;
	}
	section {
	height: 80vh;
}
}

